<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

        {# GENERAL CSS #}
        <link rel="stylesheet" href="{{ asset('css/general.css') }}">

        {# NAVBAR CSS #}
        <link rel="stylesheet" href="{{ asset('css/Navbar-css/navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Navbar-Responsive/navbar-responsive.css') }}">
        
        {# HOMEPAGE CSS #}
        <link rel="stylesheet" href="{{ asset('css/Homepage-css/HomePage.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Homepage-Responsive/HomePage-Responsive.css') }}">

        {# MENUS #}
        <link rel="stylesheet" href="{{ asset('css/Menu-css/menu.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Menu-Responsive/menu-responsive.css') }}">

        {# Emplacements #}
        <link rel="stylesheet" href="{{ asset('css/Emplacements-css/emplacements.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Emplacements-Responsive/emplacements-responsive.css') }}">

        {# CONTACT CSS #}
        <link rel="stylesheet" href="{{ asset('css/Contact-css/contact.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Contact-Responsive/contact-responsive.css') }}">

        {# FOOTER CSS #}
        <link rel="stylesheet" href="{{ asset('css/Footer-css/footer.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Footer-Responsive/footer-responsive.css') }}">

        {# CONNECTION CSS #}
        <link rel="stylesheet" href="{{ asset('css/Connection-css/connection.css') }}">
        <link rel="stylesheet" href="{{ asset('css-responsive/Connection-Responsive/connection-responsive.css') }}">

        {# GOOGLE FONTS #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ultra&display=swap" rel="stylesheet">

	</head>
	<body>
		{% block body %}{% endblock %}

        <script src="{{ asset('js/menu.js') }}"></script>
        <script src="{{ asset('js/navbar.js') }}"></script>
        <script src="{{ asset('js/onepage.js') }}"></script>

	</body>
</html>
